<!DOCTYPE>

<html ng-app="firstApp">
    <head>
        <title>My First Angular</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" type="text/css">
        
        
       

    </head>
    
    
    <body>
        
        <div ng-controller='firstController'>
            
       <p> {{ message }}</p>
            
            <div ng-controller= 'childController'>
            {{message}} &bull; {{$parent.message}}
           <button ng-click="showMessage()">Pokaż wiadomość</button>
                <ul>
                
                    <li ng-repeat ="color in colors">{{ color}}</li>
                
                </ul>
                
                <p>{{obj.id}} {{obj.login}}</p>
                <ol>
                
                <li ng-repeat="user in users">{{user.name}}</li>
                
                </ol>
                <p>{{newMsg}}</p>
                
                <p>{{amount | currency }}</p>
                <p>{{day | date: 'yyyy' }}</p>
                <p>{{ json }}</p>
                <p>{{brakZmiennej}}</p>
                <hr>
                <p>{{colors[0]}}</p>
                <p>{{colors}}</p>
                <hr>
                <p>{{::users[0].name}}</p>
                <p>{{users[0].name}}</p>
                <button ng-click="changeName()">Zmień imię</button>
                <hr>
                
                <p>{{5+6*8}}</p>
                <p>{{'Tester'+'Testowy' }}</p>
                <hr>
                
                <input type="text" ng-model="napis">
                <p>{{napis|uppercase}}</p>
            
                <button ng-click="showModel()">Pokaz model</button>
                <hr>
                <p>
                    <input type="checkbox" ng-model="isAdult"> Czy jestes pelnoletni?</p>
                    <div ng-show="isAdult">Prosze nie patrzec!!!</div>
                <div ng-hide="isAdult">Prosze zaznacz pełnoletność!!!</div>
                
                
            </div>
            
        </div>
        
        
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
        </script>
         <script src="ap.js"></script>
    </body>
    
    
    
    
</html>